$sun-animation-duration: 7s
    
@mixin glow-text
    animation: glow-color $sun-animation-duration linear infinite
    transition: color $sun-animation-duration

@keyframes move-bg
    0%
        background-size: 170%
    50%
        background-size: 100%
    90%
        background-size: 110%
    100%
        background-size: 170%

@keyframes glow-color
    0%
        color: #FFFFFF
    45%
        color: #FFFFFF
    50%
        color: #9dff09
    60%
        color: #FFFFFF
    100%
        color: #FFFFFF


header#document-header
    display: none

.hero
    margin-bottom: 0
    padding-top: 0
    .content
        padding-top: 0
        padding-bottom: var(--grid-gutter)
    h1
        margin-bottom: $spacing-5
        @include glow-text

body
    background-image: radial-gradient(circle at right bottom,#ebfa7f 0%, #f8bf3a 10%, #dd309b 65%,#cf0049 100%)
    background-attachment: fixed
    min-height: 100vh
    transition: background-size $sun-animation-duration
    animation: move-bg $sun-animation-duration linear infinite

.block-links
    .top
        margin-bottom: $spacing-3
        .block-title
            @include small
            @include glow-text

    .links
        display: flex !important
        flex-wrap: wrap
        gap: $spacing-2
        li
            background: transparent !important
            margin: 0 !important
            @include meta
            a
                @include glow-text
                &::after
                    display: none
                span::after
                    content: ' ↗'
                    position: relative
                    display: inline-block
                    position: relative
                    transition: transform 0.3s $arrow-ease-transition
                    transform: translate(0px, #{pxToRem(3)})
            &:hover
                a
                    color: #9dff09 !important
                    span::after
                        transform: translate(7px, -3px)
            .link-content
                padding: 0 !important
                min-height: 0 !important
                background: none !important
p
    @include glow-text

#document-footer
    padding-bottom: 0 !important
    .contact
        a
            @include h2
            @include glow-text
            text-decoration: none !important
            text-transform: lowercase
            &::after
                content: ' →'
                font-family: inherit
                display: inline-block
                transition: all 0.3s $arrow-ease-transition
                opacity: 0
            &:hover
                &::after
                    transform: translateX(30px)
                    opacity: 1
